html, body {
	margin:0;    /* 必要，否则纵向滚动条不会消失 */
	height:100%; /* 必要，以便之后给container设置高度百分比 */
}

#container {
	min-height:100%; /* 此属性需要doctype的支持，见第一行。 否则不会生效。在IE中，写height：100%就可以工作，但其他浏览器需要设置min-height。*/
	position:relative; /* 必要 */
	padding: 10px;
}

#content {
	padding-bottom: 20px;    /* 等于footer的高度 */
}

#footer {
	position:fixed;
	bottom:0;
	height:20px;
}

input[type=text]
{
	padding: 3px;
	margin: 5px;
}

input[type=button]
{
	padding: 5px;
	margin: 0px, 5px, 5px, 5px;
}

select
{
	padding: 5px;
	margin: 0px, 5px;
}

label
{
	margin-right: 5px;
}

td
{
	padding: 5px;
}

#dataSection
{
	margin: 5px;
	position: relative;
	width: 100%;
	#background-color: blue;
}

#latestOrder
{
	width: 50%;
	#background-color: red;
}

#stats
{
	position: absolute;
	left: 50%;
	top: 0;
	#background-color: green;
}