{% extends "layout.html" %}
{% block body %}
    <div class="page-id">Auto</div>
    <script src="{{ url_for('static', filename='js/logger.js') }}" type=text/javascript></script>
    <script src="{{ url_for('static', filename='js/auto.js') }}" type=text/javascript></script>
    <form id="auto-form" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2">
                <label class="sr-only" for="auto-stock-code">stock code:</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="stock-code" id="auto-stock-code" placeholder="stock code"/>
                    <div class="input-group-addon" id="auto-market"></div>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="sr-only" for="auto-stock-name">amount:</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="stock-amount" id="auto-stock-name" placeholder="amount"/>
                    <div class="input-group-addon">00</div>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="sr-only" for="auto-stock-name">interval:</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="interval" id="auto-interval" placeholder="interval"/>
                    <div class="input-group-addon">sec</div>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="sr-only" for="auto-threshold">threshold:</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="threshold" id="auto-threshold" placeholder="threshold"/>
                    <div class="input-group-addon">rmb</div>
                </div>
            </div>
            <div class="col-sm-2">
                <select class="form-control" name="strategy-name" id="auto-strategy-name"></select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" type="button" name="toggle">start</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="col-md-3">auto scroll: <input type="checkbox" name="autoscroll"/></label>
                <button class="btn btn-default-sm" type="button" name="clear">clear</button>
            </div>
            <div class="panel-body" id="strategy-log">
            </div>
        </div>
    </form>
{% endblock %}