body {
	width:800px;
}

/*span#sessionId {
	 visibility: hidden; 
	display:none;
}*/

.colgroup-cols-8 col {
	width: 12%;
}

form {
	margin: 10px;
}

.panel {
	width: 100%;
}

.panel-body {
	background-color: #333;
	height: 350px;
	overflow-y: auto;
	word-wrap: break-word;
}

.panel-body>span.info {
	color: #eee;
}

.panel-body>span.warn {
	color: #ff0;
}

.panel-body>span.error {
	color: #f00;
	font-weight: bold;
}

.page-id {
	visibility: hidden;
}