{% extends "layout.html" %}
{% block body %}
    <script src="{{ url_for('static/js', filename='login.js') }}" type=text/javascript></script>
    <form id="login-form" class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3"><span>login status: </span><span id="login-status"></span></div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <img class="img-responsive center-block" id="captcha" alt="captcha" />
            </div>
            <div class="col-md-2">
                <label class="sr-only" for="captcha-text">captcha</label>
                <input class="form-control" type="text" name="captcha" id="captcha-text" placeholder="captcha"/>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" id="refresh">refresh</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <button class="btn btn-primary" type="submit" name="login">login</button>
            </div>
        </div>
    </form>
{% endblock %}